*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  font-family: sans-serif;
  background-color: rgb(45, 65, 92);
}
.contenedor{
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  background-color: #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 10px;
  border-radius: 10px;
}
.nav, .titulopage, .parteIzquierda, .parteDerecha, .navegacionInfoActualizada, .itemInformacion, .descripcion{
  width: 100%;
}
/*Barra de navegación*/
.nav{
  display: flex;
  justify-content: flex-start;
  background-color: rgb(43, 43, 43);
  border-radius: 8px 8px 0px 0px;
}
.enlaces{
  width: 40%;
}
.logo1{
  width: 60%;
}
.logo1 img{
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
}

.boton-menu{
  float: right;
  display: flex;
  justify-content:flex-end;
  align-items:stretch;
  width: 70%;
}
.boton-menu img{
  max-width: 50%;
  height: auto;
  background-color: rgb(171, 171, 171);
}

.efecto{
  transition: 0.3s ease all;
}
.efecto:hover{
  background-color: rgb(2, 119, 48);
}
.ocultar-peq{
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
}
/*------------------Barra de navegación pequeño*/
.nav-movil{
  display: flex;
  justify-content: center;
  width: 100%;
  /*--------------------Propiedad que oculta el menu */
  display: none;
}
/*----------------------Propiedad para mostrar el menu */
.mostrar-menu{
  display: block;
}
.enlaces-movil{
  width: 100%;
  background-color: rgb(43, 43, 43);;
}
.enlaces-movil a, .aqui{
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
}

.aqui{
  background-color: rgb(123, 209, 144);
}

.d-none{
  display: none;
  width: 0px;
  height: 0px;
  overflow: hidden;
}
/*======================================================*/

.titulopage{
  background-color: #d3d3d3;
  border-radius: 10px;
  width: 100%;
  text-align: center;
}

.titulopage h2{
  font-size: 3em;
}

.parteIzquierda{
  padding-left: 5px;
  display: flex;
  flex-flow: row wrap;
}

.navegacionInfoActualizada{
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start;
}

.itemsNavegacion{
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 5px;
  text-align: center;
  background-color: rgb(189, 189, 189);
  color: black;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 10px;
  transition: 0.3s ease all;
}

.itemSeleccionado{
  background-color: rgb(64, 64, 64);
  color: white;
}

.itemsNavegacion:hover{
  background-color: #130066;
  color: white;
}
.contenedorInformacion{
  /*border: 1px solid black;*/
  background-color: rgb(64, 64, 64);
  flex-direction: column;
  font-size: 13px;
  border-radius: 10px;
  padding: 5px;
}

.itemInformacion{
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(169, 203, 234);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.titulo{
  width: 100%;
  text-align: left;
  padding-left: 4px;

}


.descripcion{
  width: 100%;
}

ul{
  list-style-type: circle;
  margin-left: 20px;
}

.parteDerecha{
  display: flex;
  flex-flow: column wrap;
  text-align:center;
  justify-content: space-between;
  align-content: space-between;
  padding: 4px;
}

.parteDerecha h3, .parteIzquierda h3{
  margin-bottom: 20px;
}

table{
  background-color: rgb(125, 185, 241);
  width: 100%;
  margin: auto;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

tr, th, td{
  margin: 5px;
}

td{
  
  background-color: rgb(173, 215, 255);
  text-align: center;
  border-radius: 5px;
  padding: 3px;
}
.abastecer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.textoabastecer{
    width: 100%;
}
.botonabastecer input{
  margin-top: 10%;
  background: rgb(102, 182, 86);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: 0.3s ease all;

}
.botonabastecer input:hover{
  background-color: rgb(62, 114, 51);
  color: white;
}

img {
  max-width: 100%;
}


@media(max-width: 600px){
  .ocultar-peq{
      display: none;
  }
  .nav{
    height: 40px;
  }
  .enlaces{
    display:flex;
    align-items: stretch;
    justify-content: flex-end;
  }
}
@media (min-width: 601px){
/*----------------propiedad que oculta el boton menu*/
  .boton-menu {
  display: none;
  }
/*------------propiedad que oculta el menu a la resolucion*/
  .nav-movil{
    display: none;
  }
  .nav .logo1{
    display: flex;
    justify-content: center;
  }

  .enlaces{
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    width: 75%;
    height: 100%;
  }
  .contenedor{
    max-width: 1100px;
  }

    .parteDerecha, .parteIzquierda{
      width: 50%;
    }

    .parteIzquierda{
      padding-left: 15px;
      margin-bottom: 30px;
    }

    .titulopage{
      margin: 20px;
    }
    .parteDerecha{
      justify-content: center;
      align-content: center;
    }
    .botonabastecer{
      width: 80%;
      font-size: 14px;
    }

    .nav{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .logo1{
      width: 25%;
    }

    /*======================================================*/

    .enlaces a, .enlaces .aqui{
      width: auto;
      padding: 5px;
    }

    .nav{
      margin-bottom: 5px;
    }



}
