*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  font-family: sans-serif;
  background-color: rgb(45, 65, 92);
}
.contenedor{
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  background-color: #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 10px;
  border-radius: 10px;
}

.nav, .titulopage, .contenedorInformacion, .contenedorsegundario{
  width: 100%;
}
/*Barra de navegación*/
.nav{
  display: flex;
  justify-content: flex-start;
  background-color: rgb(43, 43, 43);
  border-radius: 8px 8px 0px 0px;
}
.enlaces{
  width: 40%;
}
.logo1{
  width: 60%;
}
.logo1 img{
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
}

.boton-menu{
  float: right;
  display: flex;
  justify-content:flex-end;
  align-items:stretch;
  width: 70%;
}
.boton-menu img{
  max-width: 50%;
  height: auto;
  background-color: rgb(171, 171, 171);
}
.efecto:hover{
  background-color: rgb(2, 119, 48);
}
.ocultar-peq{
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
}
/*------------------Barra de navegación pequeño*/
.nav-movil{
  display: flex;
  justify-content: center;
  width: 100%;
  /*--------------------Propiedad que oculta el menu */
  display: none;
}
/*----------------------Propiedad para mostrar el menu */
.mostrar-menu{
  display: block;
}
.enlaces-movil{
  width: 100%;
  background-color: rgb(43, 43, 43);;
}
.enlaces-movil a, .aqui{
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
}

.aqui{
  background-color: rgb(123, 209, 144);
}
/*======================================================*/
img {
  max-width: 100%;
}

.titulopage{
  text-align: center;
  margin-bottom: 10px;
}
table{
  background-color: rgb(125, 185, 241);
  width: 100%;
  margin: auto;
}

td{
  margin:0px;
  background-color: rgb(173, 215, 255);
  text-align: center;
}

.contenedorInformacion{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0px 15px;
  width: 100%;
  margin: auto;
}
.registrarinfosup, .registrarinfomed, .registrarinfoinf{
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  font-size: 13px;
  margin-bottom: 12px;
}
.registrarinfosup div{
  margin-top: 5px;
}
.registrarinfomed div{
  margin-top: 5px;
}

.parteIzq{
  width: 100%;
}


.registrarinfoinf div{
  margin-top: 5px;
}

.contenedorsegundario{
  padding: 0px 15px;
  margin-bottom: 15px;
  font-size: 13px;
}
.contenedorsegundario div{
  margin-top: 5px;
}

.d-none{
  display: none;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

@media(max-width: 600px){
  .ocultar-peq{
      display: none;
  }
  .nav{
    height: 40px;
  }
  .enlaces{
    display:flex;
    align-items: stretch;
    justify-content: flex-end;
  }
}
@media (min-width: 601px){
/*----------------propiedad que oculta el boton menu*/
  .boton-menu {
  display: none;
  }
/*------------propiedad que oculta el menu a la resolucion*/
  .nav-movil{
    display: none;
  }
  .nav .logo1{
    display: flex;
    justify-content: center;
  }

  .enlaces{
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    width: 75%;
    height: 100%;
  }
  .contenedor{
    max-width: 1000px;
  }

  .registrarinfosup{
    width: 80%;
    margin: auto;
    }
    table{
      width: 100%;
    }
    .registrarinfomed{
      width: 50%;
      flex-flow: row wrap;
      margin: auto;
    }

   .parteIzq{
     width: 60%;
     display: flex;
     flex-flow: row wrap;
   }


   .ParteDer{
     width: 40%;
     margin-left: 5%;
     padding-left: 5%;
     padding-top:3%;
   }

   .registrarinfoinf{
     width: 50%;
     flex-flow: row wrap;
     margin: auto;
     margin-top: 20px;
   }

   .labels{
     width: 30%;
   }

   .llenables{
     width: 50%;
     padding-left: 10%;
   }

   .botoninf{
     width: 100%;
     padding-top:15px;
     padding-left:40%;

   }

   .contenedorsegundario{
     padding: 0px;
     width: 50%;
     display: flex;
     flex-flow: row wrap;
     margin: auto;

   }
   .InfoPago{
     padding-top: 2%;
     padding-left: 2%;
     display: flex;
     flex-flow: row wrap;
   }

   .botonespago{
     width: 100%;
     padding-left: 30%;
     padding-top: 1%;
     margin-bottom: 10px;
   }

    .titulopage{
      margin: 20px;
    }

    .nav{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .logo1{
      width: 25%;
    }
    /*======================================================*/
    .enlaces a, .enlaces .aqui{
      width: auto;
      padding: 5px;
    }

    .nav{
      margin-bottom: 5px;
    }



}
