*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  font-family: sans-serif;
  background-color: rgb(45, 65, 92);
}
.contenedor{
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  background-color: #e4e4e4;
  box-shadow: rgba(0, 0, 0, 0.5) 20px 20px 10px;
  border-radius: 10px;
}
.nav, .titulopage {
  width: 100%;
}
/*Barra de navegación*/
.nav{
  display: flex;
  justify-content: flex-start;
  background-color: rgb(43, 43, 43);
  border-radius: 8px 8px 0px 0px;
}
.enlaces{
  width: 40%;
}
.logo1{
  width: 60%;
}
.logo1 img{
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
}

.boton-menu{
  float: right;
  display: flex;
  justify-content:flex-end;
  align-items:stretch;
  width: 70%;
}
.boton-menu img{
  max-width: 50%;
  height: auto;
  background-color: rgb(171, 171, 171);
}

.efecto{
  transition: 0.3s ease all;
}

.efecto:hover{
  background-color: rgb(2, 119, 48);
}
.ocultar-peq{
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
}
/*------------------Barra de navegación pequeño*/
.nav-movil{
  display: flex;
  justify-content: center;
  width: 100%;
  /*--------------------Propiedad que oculta el menu */
  display: none;
}
/*----------------------Propiedad para mostrar el menu */
.mostrar-menu{
  display: block;
}
.enlaces-movil{
  width: 100%;
  background-color: rgb(43, 43, 43);;
}
.enlaces-movil a, .aqui{
  background-color: rgb(43, 43, 43);
  text-decoration: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  align-items:center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
}

.aqui{
  background-color: rgb(123, 209, 144);
}
/*======================================================*/

.titulopage, .buscarnuevo{
  width: 100%;
  text-align: center;
  margin: 15px;
}

.contenedorSecundario{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

}

.botonescatalogos{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.contenedorInformacion{
  border: 1px solid black;
  flex-direction: column;
  font-size: 13px;
  margin-bottom: 20px;
}

.itemInformacion{
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #626262;
}
.parteIzquierdaitemInformacion{
  display: flex;
  flex-flow: row wrap;
  width: 80%;
  
}
.parteDerechaitemInformacion{
  width: 20%;
}
.parteDerechaitemInformacion input{
  width: 100%;
}
.titulo{
  width: 50%;
  text-align: left;
  padding-left: 4px;

}


.descripcion{
  width: 100%;
}

img {
  max-width: 100%;
}

.d-none{
  display: none;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.labels{
  width: 30%;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.llenables{
  width: 90%;
  margin-bottom: 10px;
}

.llenables input, .llenables select {
  width: 95%;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgb(175, 175, 175);
  padding: 7px;
  transition: width 0.4s ease-in-out;
}

.llenables input:focus {
  background-color: lightblue;
  outline: none;
  width: 100%;
}

.contenedorInformacion{
  /*border: 1px solid black;*/
  background-color: rgb(64, 64, 64);
  flex-direction: column;
  font-size: 13px;
  border-radius: 10px;
  padding: 5px;
}

.itemInformacion{
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(169, 203, 234);
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.parteIzquierdaitemInformacion{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.titulo{
  width: 100%;
  text-align: left;
}

.descripcion{
  width: 100%;
}

ul{
  list-style-type: circle;
  margin-left: 20px;
}




.descripcion{
  width: 100%;
}

.parteDerechaitemInformacion{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.botonModificar{
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgb(76, 121, 255);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease all;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.308);
}

.botonModificar:hover{
  background-color: rgb(127, 159, 255);
  box-shadow: 0px 0px 0px 5px rgb(127, 159, 255);
}

.botonEliminar{
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgb(252, 88, 88);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.308);
  transition: 0.3s ease all;
}

.botonEliminar:hover{
  background-color: rgb(255, 156, 156);
  box-shadow: 0px 0px 0px 5px rgb(255, 156, 156);
}

@media(max-width: 600px){
  .ocultar-peq{
      display: none;
  }
  .nav{
    height: 40px;
  }
  .enlaces{
    display:flex;
    align-items: stretch;
    justify-content: flex-end;
  }

}
@media (min-width: 601px){
/*----------------propiedad que oculta el boton menu*/
  .boton-menu {
  display: none;
  }
/*------------propiedad que oculta el menu a la resolucion*/
  .nav-movil{
    display: none;
  }
  .nav .logo1{
    display: flex;
    justify-content: center;
  }

  .enlaces{
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    width: 75%;
    height: 100%;
  }
  .contenedor{
    max-width: 1100px;
  }
 
  .barra{
    width: 70%;
  }

  .titulopage{
    margin: 20px;
  }

    .nav{
      display: flex;
      flex-flow: row wrap;
      align-items: center;
    }
    .logo1{
      width: 25%;
    }

    .labels{
      width: 25%;
      font-size: 16px;
    }
    .llenables{
      width: 75%;
      margin-bottom: 10px;
    }


    .llenables input, .llenables select {
      width: 100%;
      font-size: 16px;
    }

    /*======================================================*/

    .enlaces a, .enlaces .aqui{
      width: auto;
      padding: 5px;
    }

    .nav{
      margin-bottom: 5px;
    }

    .parteIzquierdaitemInformacion{
      width: 70%;
    }
  
    .parteDerechaitemInformacion{
      width: 30%;
      margin-top: 0%;
    }
  
    .botonModificar, .botonEliminar{
      width: 60px;
      height: 60px;
    }
}
